.div_nivel {
    width: 150px;
    height: 47px;
    position: absolute;
    background-color: #e2e6ea;
    border-radius: 5px;
    transition: all 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.verDescripcion {
    text-align: center;
}

.div_nivel a.verDescripcion {
    font-family: arial, verdana, tahoma, serif;
    font-size: 11px;
    color: #212529;
    cursor: pointer;
}

.div_nivel:hover {
    background-color: #23272b;
}

.div_nivel:hover a.verDescripcion {
    color: #fff!important;
}