<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Add favicon-->
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <title>Estructura Orgánica de la LXI Legislatura | H. Congreso del Estado Libre y Soberano de Puebla LXI Legislatura</title>
  <link rel="stylesheet" href="css/style.css">
</head>