<body>
<div class="card d-none">
    <div class="card-body">
        <div class="avatar"></div>
        <h5 class="card-title">{nombre}</h5>
        <h6 class="card-subtitle">{cargo}</h6>
        <a href="mailto:{correo}" class="btn btn-link" data-toggle="tooltip" title="{correo}">
            <span>{correo}</span>
        </a>
        <a href="{telefono_formateado}" class="btn btn-link" data-toggle="tooltip" title="{telefono}">
            <span>{telefono}</span>
        </a>
        <a href="{cv}" class="btn btn-link" data-toggle="tooltip" title="Currículum" target="_blank">
            <span>{cv}</span>
        </a>
        <a href="#" class="btn btn-link funciones" data-toggle="tooltip" title="Funciones"></a>
    </div>
</div>
</body>