<div class="div_nivel {id}">
    <a id="open_" class="verDescripcion d-none" data-id="#card_cargo">{cargo_a_mostrar}</a>
    <div class="dropdown-content-I">

        <div id="card_{cargo_a_mostrar}" class="card bg-light text-center" style="width: 18rem;">
            <div class="card-header">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="background-image:url({foto});" alt="" class="img-raised rounded-circle img-fluid">
            </div>
            <div class="card-body">
                <h4 class="card-title">{nombre}</h4>
                <p class="card-text">{cargo}</p>
<!--                <a href="#" class="card-link">Card link</a>-->
<!--                <a href="#" class="card-link">Another link</a>-->
            </div>
        </div>
<!--        -->
<!--        <div id="card_cargo" class="card bg-light ficha d-none">-->

<!--            <div class="card-body">-->
<!--                <a href="mailto:{correo}" class="btn btn-just-icon btn-link " data-toggle="tooltip" title="" data-original-title="{correo}">-->
<!--                    &lt;!&ndash;<i class="material-icons">mail</i>&ndash;&gt;-->
<!--                    <span>{correo}</span>-->
<!--                </a>-->
<!--                <a href="{telefono_formateado}" class="btn btn-just-icon btn-link" data-toggle="tooltip" title="" data-original-title="{telefono}">-->
<!--                    &lt;!&ndash;<i class="material-icons">call</i>&ndash;&gt;-->
<!--                    <span>{telefono}</span>-->
<!--                </a>-->
<!--                <a href="{cv}" class="btn btn-just-icon btn-link" data-toggle="tooltip" title="" target="_blank" data-original-title="Currículum">-->
<!--                    &lt;!&ndash;<i class="material-icons">face</i>&ndash;&gt;-->
<!--                    <span>{cv}</span>-->
<!--                </a>-->
<!--                <a href="#" class="btn btn-just-icon btn-link funciones" data-toggle="tooltip" title="" data-original-title="Funciones">-->
<!--                    &lt;!&ndash;<i class="material-icons">assignment</i>&ndash;&gt;-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="card-footer"></div>-->
<!--        </div>-->
    </div>
</div>
